.page {
  padding: 0px 10px;
  margin-bottom: 200px;
  margin-right: 30px;
}

.btn {
  margin-bottom: 15px;
  margin-right: 10px;
  background-color: whitesmoke;
  color: #202022;
}

#csv {
  background-color: black;
  color: white;
  padding: 5px;
  white-space: pre-line;
}
