<div style="margin-left: 30px; margin-right: 30px">
  <h2>{{ heading }}</h2>
  <p *ngIf="subHeading != ''">
    {{ subHeading }}
  </p>
  <button
    [disabled]="disabled"
    class="btn"
    mat-raised-button
    (click)="file.click()"
  >
    {{ btnTitle }}
  </button>
  <em *ngIf="disabled" style="margin-left: 10px; font-size: smaller"
    >If you'd like to upload a different file, reload the page.
  </em>
  <input
    [disabled]="disabled"
    #file
    style="visibility: hidden"
    class="form-control"
    type="file"
    (change)="onChange($event)"
  />

  <div *ngIf="data">
    <div *ngIf="!disabled">
      <p>Does this look right to you?</p>
      <button class="btn" mat-raised-button #upload (click)="parseBtn.click()">
        Yup, looks good.
      </button>
      <button
        #parseBtn
        style="visibility: hidden"
        (click)="emitToParseTransactions(data)"
      ></button>
    </div>
    <pre id="csv">
        {{ data }}
    </pre>
  </div>
</div>
