<div style="margin-left: 50px">
  <h2 style="margin-left: -28px">{{ heading }}</h2>
  <p *ngIf="subHeading != ''">
    {{ subHeading }}
  </p>
  <button
    [disabled]="disabled"
    class="btn"
    mat-raised-button
    (click)="file.click()"
  >
    {{ btnTitle }}
  </button>
  <button
    [disabled]="disabled"
    class="btn"
    mat-raised-button
    (click)="useDefaultData()"
  >
    Use Test Data
  </button>
  <em *ngIf="disabled" style="margin-left: 10px; font-size: smaller"
    >If you'd like to upload a file, reload the page and start again.
  </em>
  <input
    [disabled]="disabled"
    #file
    style="visibility: hidden"
    class="form-control"
    type="file"
    (change)="onChange($event)"
  />
  <div *ngIf="!data && useDefault == true">
    <div>
      <strong *ngIf="!disabled">Does this look good to you?</strong>
      <p>{{ dataCaption }}</p>
      <button
        *ngIf="!disabled"
        class="btn"
        mat-raised-button
        #upload
        (click)="parseBtn.click()"
      >
        Yes, it looks good.
      </button>
      <button
        #parseBtn
        style="visibility: hidden"
        (click)="emitToUseDefaultData()"
      ></button>
    </div>

    <pre id="csv">
        {{ default }}
    </pre>
  </div>
  <div *ngIf="data">
    <div>
      <strong *ngIf="!disabled">Does this look good to you?</strong>
      <p>{{ dataCaption }}</p>
      <button
        *ngIf="!disabled"
        class="btn"
        mat-raised-button
        #upload
        (click)="parseBtn.click()"
      >
        Yup, looks good.
      </button>
      <button
        #parseBtn
        style="visibility: hidden"
        (click)="emitToParseData(data)"
      ></button>
    </div>
    <pre id="csv">
        {{ data }}
    </pre>
  </div>
</div>
