#csv {
  background-color: black;
  color: white;
  padding: 5px;
  white-space: pre-line;
}

.hidden {
  display: none;
}

.btn {
  margin-bottom: 15px;
  background-color: whitesmoke;
  color: #202022;
}

.btn:hover {
  box-shadow: 1px 1px 8px gray;
}
