<!-- Toolbar -->
<div class="toolbar box-shadow" role="banner">
  <span id="header" (click)="reload()" class="title-decor">{{ title }}</span>
  <div class="note">
    <a href="https://www.linkedin.com/in/grace-punzalan/" target="_blank"
      >By Grace Punzalan
    </a>
    |
    <a
      href="https://github.com/gpunzalan18/personal-finance-tracker"
      target="_blank"
      >Github</a
    >
    |
    <a href="https://opensource.org/licenses/MIT" target="_blank"
      >MIT license</a
    >
  </div>
</div>

<div class="content" role="main"></div>
<router-outlet></router-outlet>
