<div class="page">
  <app-file-upload
    heading="1. Upload your bank account transactions."
    subHeading="I will not store any of the information you provide. The
    downside is that you'd have to re-upload your data every time you visit. Alternatively, you can also use a test data to explore what I can do."
    btnTitle="Upload File"
    (uploadedData)="checkUploadedTransactionsData($event)"
    [defaultDataStr]="defaultTransactionDataStr"
    (defaultData)="useDefaultData()"
    dataCaption="Notice that every transaction consists of a date, a description, and an amount. Each transaction must follow this order so that I can understand the data. Amounts that are greater than zero are part of your income and those that are less are considered expenses.
      If you'd like to upload your own .csv file, make sure to follow the format shown below. Any additional headers will be ignored."
  ></app-file-upload>

  <app-file-upload
    *ngIf="uploadedTransactionsData == true"
    heading="2. Upload a list of categories and keywords."
    subHeading="This is what I'll use to categorize your expenses into different buckets."
    btnTitle="Upload File"
    (uploadedData)="checkUploadedExpensesCategoryData($event)"
    [defaultDataStr]="defaultCategoryString"
    (defaultData)="doNotUploadCategories()"
    dataCaption="The first value for every row is a category followed by the keywords
      associated to it. If you'd like to upload your own .csv file, make sure to follow the format shown
      below."
  ></app-file-upload>

  <div style="margin-left: 30px" *ngIf="data.length > 0">
    <div
      *ngIf="
        (uploadedTransactionsData == true &&
          uploadedExpensesCategoryData != undefined) ||
        (uploadedTransactionsData == true && uploadCategoriesData == false)
      "
    >
      <h2 style="margin-bottom: 30px; margin-top: 30px">
        3. Nicely done! Here's what I made for you.
      </h2>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <app-chart
            type="line"
            title="Monthly Income, Savings, and Expenses"
            [data]="data"
            [labels]="labels"
            [colors]="firstChartColors"
          ></app-chart>
        </div>
      </div>
      <div class="row" style="margin-top: 20px">
        <div class="col-md-12 col-sm-12">
          <app-chart
            type="line"
            title="Expenses By Category"
            [data]="data2"
            [labels]="labels"
            [colors]="secondChartColors"
          ></app-chart>
        </div>
      </div>
    </div>
  </div>
</div>
